extends ../layout/admin

block contenido
    h2(class="text-2xl  text-center my-10 text-black")= pagina

    a(
        href="/mis-propiedades"
        class="rounded py-2 px-10 bg-darkCyan hover:bg-cerulean text-sm font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto transition duration-300") Volver

    div(class="mx-auto max-w-4xl bg-white shadow-lg rounded-lg p-6")
        // Verifica si existen mensajes
        if mensajes && mensajes.length
            ul(class="space-y-4")
                each mensaje in mensajes
                    li(class="border-b border-gray-200 p-5 flex items-start space-x-5")
                        // Contenido del mensaje
                        div(class="flex flex-col w-full")
                            p(class="text-lg font-semibold text-gray-900")
                                | Mensaje sobre la propiedad: 
                                span(class="font-normal text-gray-700")= mensaje.mensaje

                            // Verificar si la propiedad existe
                            if mensaje.propiedade
                                p(class="text-sm font-medium text-gray-600 mt-2")
                                    | Propiedad: 
                                    span(class="font-normal text-blue-600")= mensaje.propiedade.titulo
                            else
                                p(class="text-sm font-medium text-gray-600 mt-2")
                                    | Propiedad: 
                                    span(class="font-normal text-gray-600") No disponible

                            // Fecha del mensaje
                            p(class="text-sm font-medium text-gray-600 mt-2")
                                | Enviado: 
                                span(class="font-normal text-gray-500")= formatearFecha(mensaje.createdAt)

                        // Estado de la respuesta
                        if mensaje.respuesta
                            div(class="mt-4 p-4 bg-green-50 border-l-4 border-green-400 rounded-md")
                                p(class="font-bold text-green-600") Respuesta:
                                span(class="font-normal text-gray-700")= mensaje.respuesta
                        else 
                            div(class="mt-4 p-4 bg-red-50 border-l-4 border-red-400 rounded-md")
                                p(class="font-bold text-red-600") Sin respuesta
        else 
            // Mensaje cuando no hay mensajes
            p(class="text-center text-gray-600 p-5") No hay Mensajes
